
.product-wrapper .product-price{
    color: #3ba66b;
    font-weight:'300px'
}
.product-wrapper:hover .product-price{
    /* display: none; */
}
.product-cart{
    display: block;
}
.product-cart button span:hover{
    color: #3ba66b;
}
.product-wrapper:hover .product-cart{
         display: block;
}


#minus{
    cursor: pointer;
}
#plus{
    cursor: pointer;
}
